$colorx: #dfdfff;

body {
  background: $colorx;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid; 
  grid-template-columns: 0.6fr 1.4fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "tasklist calendar"
    "tasklist calendar"
    "tasklist calendar"; 
}
.tasklist { grid-area: tasklist; }
.calendar { grid-area: calendar; }

.day, .calContainer {
  display: grid;
}