// Grayscale Design palette: https://grayscale.design/app?lums=92.72,85.96,73.80,58.76,39.22,24.42,15.15,11.44,6.93,4.69&palettes=%23000000&filters=0%7C0&names=&labels=

$grayscale-50: rgb(247, 247, 247);
$grayscale-100: rgb(239, 239, 239);
$grayscale-200: rgb(223, 223, 223);
$grayscale-300: rgb(202, 202, 202);
$grayscale-400: rgb(168, 168, 168);
$grayscale-500: rgb(135, 135, 135);
$grayscale-600: rgb(109, 109, 109);
$grayscale-700: rgb(95, 95, 95);
$grayscale-800: rgb(74, 74, 74);
$grayscale-900: rgb(61, 61, 61);


$colorx: $grayscale-100;
$color-900: $grayscale-900;

$context: $grayscale-200;
$event-context: $grayscale-400;
$event-context2: $grayscale-400;


body {
  background: $colorx;
  color: $color-900;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid; 
  grid-template-columns: 0.6fr 1.4fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "tasklist calendar"
    "tasklist calendar"
    "tasklist calendar"; 
}
.tasklist { grid-area: tasklist; }
.calendar { grid-area: calendar; }

.day {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-auto-rows: 1.2rem;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.hour {border-bottom: 1px dashed $grayscale-400;}
.time { border-bottom: 1px dotted $grayscale-500;}
.timelast { border-bottom: none;}

.ht00 { grid-area: 1 / 1 / 5 / 2 }
.ht01 { grid-area: 5 / 1 / 9 / 2 }
.ht02 { grid-area: 9 / 1 / 13 / 2 }
.ht03 { grid-area: 13 / 1 / 17 / 2 }
.ht04 { grid-area: 17 / 1 / 21 / 2 }
.ht05 { grid-area: 21 / 1 / 25 / 2 }
.ht06 { grid-area: 25 / 1 / 29 / 2 }
.ht07 { grid-area: 29 / 1 / 33 / 2 }
.ht08 { grid-area: 33 / 1 / 37 / 2 }
.ht09 { grid-area: 37 / 1 / 41 / 2 }
.ht10 { grid-area: 41 / 1 / 45 / 2 }
.ht11 { grid-area: 45 / 1 / 49 / 2 }
.ht12 { grid-area: 49 / 1 / 53 / 2 }
.ht13 { grid-area: 53 / 1 / 57 / 2 }
.ht14 { grid-area: 57 / 1 / 61 / 2 }
.ht15 { grid-area: 61 / 1 / 65 / 2 }
.ht16 { grid-area: 65 / 1 / 69 / 2 }
.ht17 { grid-area: 69 / 1 / 73 / 2 }
.ht18 { grid-area: 73 / 1 / 77 / 2 }
.ht19 { grid-area: 77 / 1 / 81 / 2 }
.ht20 { grid-area: 81 / 1 / 85 / 2 }
.ht21 { grid-area: 85 / 1 / 89 / 2 }
.ht22 { grid-area: 89 / 1 / 93 / 2 }
.ht23 { grid-area: 93 / 1 / 97 / 2 }


.h0000 { grid-area: 1 / 1 / 5 / 3 }
.h0100 { grid-area: 5 / 1 / 9 / 3 }
.h0200 { grid-area: 9 / 1 / 13 / 3 }
.h0300 { grid-area: 13 / 1 / 17 / 3 }
.h0400 { grid-area: 17 / 1 / 21 / 3 }
.h0500 { grid-area: 21 / 1 / 25 / 3 }
.h0600 { grid-area: 25 / 1 / 29 / 3 }
.h0700 { grid-area: 29 / 1 / 33 / 3 }
.h0800 { grid-area: 33 / 1 / 37 / 3 }
.h0900 { grid-area: 37 / 1 / 41 / 3 }
.h1000 { grid-area: 41 / 1 / 45 / 3 }
.h1100 { grid-area: 45 / 1 / 49 / 3 }
.h1200 { grid-area: 49 / 1 / 53 / 3 }
.h1300 { grid-area: 53 / 1 / 57 / 3 }
.h1400 { grid-area: 57 / 1 / 61 / 3 }
.h1500 { grid-area: 61 / 1 / 65 / 3 }
.h1600 { grid-area: 65 / 1 / 69 / 3 }
.h1700 { grid-area: 69 / 1 / 73 / 3 }
.h1800 { grid-area: 73 / 1 / 77 / 3 }
.h1900 { grid-area: 77 / 1 / 81 / 3 }
.h2000 { grid-area: 81 / 1 / 85 / 3 }
.h2100 { grid-area: 85 / 1 / 89 / 3 }
.h2200 { grid-area: 89 / 1 / 93 / 3 }
.h2300 { grid-area: 93 / 1 / 97 / 3 }

.t0000 { grid-area: 1 / 2 / 1 / 3 }
.t0015 { grid-area: 2 / 2 / 2 / 3 }
.t0030 { grid-area: 3 / 2 / 3 / 3 }
.t0045 { grid-area: 4 / 2 / 4 / 3 }

.t0100 { grid-area: 5 / 2 / 5 / 3 }
.t0115 { grid-area: 6 / 2 / 6 / 3 }
.t0130 { grid-area: 7 / 2 / 7 / 3 }
.t0145 { grid-area: 8 / 2 / 8 / 3 }

.t0200 { grid-area: 9 / 2 / 9 / 3 }
.t0215 { grid-area: 10 / 2 / 10 / 3 }
.t0230 { grid-area: 11 / 2 / 11 / 3 }
.t0245 { grid-area: 12 / 2 / 12 / 3 }

.t0300 { grid-area: 13 / 2 / 13 / 3 }
.t0315 { grid-area: 14 / 2 / 14 / 3 }
.t0330 { grid-area: 15 / 2 / 15 / 3 }
.t0345 { grid-area: 16 / 2 / 16 / 3 }

.t0400 { grid-area: 17 / 2 / 17 / 3 }
.t0415 { grid-area: 18 / 2 / 18 / 3 }
.t0430 { grid-area: 19 / 2 / 19 / 3 }
.t0445 { grid-area: 20 / 2 / 20 / 3 }

.t0500 { grid-area: 21 / 2 / 21 / 3 }
.t0515 { grid-area: 22 / 2 / 22 / 3 }
.t0530 { grid-area: 23 / 2 / 23 / 3 }
.t0545 { grid-area: 24 / 2 / 24 / 3 }

.t0600 { grid-area: 25 / 2 / 25 / 3 }
.t0615 { grid-area: 26 / 2 / 26 / 3 }
.t0630 { grid-area: 27 / 2 / 27 / 3 }
.t0645 { grid-area: 28 / 2 / 28 / 3 }

.t0700 { grid-area: 29 / 2 / 29 / 3 }
.t0715 { grid-area: 30 / 2 / 30 / 3 }
.t0730 { grid-area: 31 / 2 / 31 / 3 }
.t0745 { grid-area: 32 / 2 / 32 / 3 }

.t0800 { grid-area: 33 / 2 / 33 / 3 }
.t0815 { grid-area: 34 / 2 / 34 / 3 }
.t0830 { grid-area: 35 / 2 / 35 / 3 }
.t0845 { grid-area: 36 / 2 / 36 / 3 }

.t0900 { grid-area: 37 / 2 / 37 / 3 }
.t0915 { grid-area: 38 / 2 / 38 / 3 }
.t0930 { grid-area: 39 / 2 / 39 / 3 }
.t0945 { grid-area: 40 / 2 / 40 / 3 }

.t1000 { grid-area: 41 / 2 / 41 / 3 }
.t1015 { grid-area: 42 / 2 / 42 / 3 }
.t1030 { grid-area: 43 / 2 / 43 / 3 }
.t1045 { grid-area: 44 / 2 / 44 / 3 }

.t1100 { grid-area: 45 / 2 / 45 / 3 }
.t1115 { grid-area: 46 / 2 / 46 / 3 }
.t1130 { grid-area: 47 / 2 / 47 / 3 }
.t1145 { grid-area: 48 / 2 / 48 / 3 }

.t1200 { grid-area: 49 / 2 / 49 / 3 }
.t1215 { grid-area: 50 / 2 / 50 / 3 }
.t1230 { grid-area: 51 / 2 / 51 / 3 }
.t1245 { grid-area: 52 / 2 / 52 / 3 }

.t1300 { grid-area: 53 / 2 / 53 / 3 }
.t1315 { grid-area: 54 / 2 / 54 / 3 }
.t1330 { grid-area: 55 / 2 / 55 / 3 }
.t1345 { grid-area: 56 / 2 / 56 / 3 }

.t1400 { grid-area: 57 / 2 / 57 / 3 }
.t1415 { grid-area: 58 / 2 / 58 / 3 }
.t1430 { grid-area: 59 / 2 / 59 / 3 }
.t1445 { grid-area: 60 / 2 / 60 / 3 }

.t1500 { grid-area: 61 / 2 / 61 / 3 }
.t1515 { grid-area: 62 / 2 / 62 / 3 }
.t1530 { grid-area: 63 / 2 / 63 / 3 }
.t1545 { grid-area: 64 / 2 / 64 / 3 }

.t1600 { grid-area: 65 / 2 / 65 / 3 }
.t1615 { grid-area: 66 / 2 / 66 / 3 }
.t1630 { grid-area: 67 / 2 / 67 / 3 }
.t1645 { grid-area: 68 / 2 / 68 / 3 }

.t1700 { grid-area: 69 / 2 / 69 / 3 }
.t1715 { grid-area: 70 / 2 / 70 / 3 }
.t1730 { grid-area: 71 / 2 / 71 / 3 }
.t1745 { grid-area: 72 / 2 / 72 / 3 }

.t1800 { grid-area: 73 / 2 / 73 / 3 }
.t1815 { grid-area: 74 / 2 / 74 / 3 }
.t1830 { grid-area: 75 / 2 / 75 / 3 }
.t1845 { grid-area: 76 / 2 / 76 / 3 }

.t1900 { grid-area: 77 / 2 / 77 / 3 }
.t1915 { grid-area: 78 / 2 / 78 / 3 }
.t1930 { grid-area: 79 / 2 / 79 / 3 }
.t1945 { grid-area: 80 / 2 / 80 / 3 }

.t2000 { grid-area: 81 / 2 / 81 / 3 }
.t2015 { grid-area: 82 / 2 / 82 / 3 }
.t2030 { grid-area: 83 / 2 / 83 / 3 }
.t2045 { grid-area: 84 / 2 / 84 / 3 }

.t2100 { grid-area: 85 / 2 / 85 / 3 }
.t2115 { grid-area: 86 / 2 / 86 / 3 }
.t2130 { grid-area: 87 / 2 / 87 / 3 }
.t2145 { grid-area: 88 / 2 / 88 / 3 }

.t2200 { grid-area: 89 / 2 / 89 / 3 }
.t2215 { grid-area: 90 / 2 / 90 / 3 }
.t2230 { grid-area: 91 / 2 / 91 / 3 }
.t2245 { grid-area: 92 / 2 / 92 / 3 }

.t2300 { grid-area: 93 / 2 / 93 / 3 }
.t2315 { grid-area: 94 / 2 / 94 / 3 }
.t2330 { grid-area: 95 / 2 / 95 / 3 }
.t2345 { grid-area: 96 / 2 / 96 / 3 }

/* test */
#e19152245 { 
  background-color: $event-context2;
  grid-area: 78 / 2 / 92 / 3;
  
}

#e15151630 { 
  background-color: $event-context;
  grid-area: 62 / 2 / 67 / 3;
}

.event {
  border-radius: 1rem;
  padding: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.event {
  .title {font-weight: 800;}
  .location { margin-top: .1rem; margin-bottom: .1rem; font-size: .8rem; padding-top: 0.05px;}
  .context { margin-top: .1rem; margin-bottom: .1rem; font-size: .8rem; padding-top: 0.05px;}
}

.work {background-color: $context}

.contextWork {display: none;}

.work.first .contextWork {  
  display: block; 
  float: right;  
  margin-top: .5rem; 
  margin-right: .5rem; 
}

.d1 { 
  .context { display: none;}
}
.d2 {
  .context { display: none;}
 }
.d5 {
  .context {display: block;}
}